<Router AppAssembly="typeof(Layout.MainLayout).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, page not found.</p>
        </LayoutView>
    </NotFound>
    @* <Navigating>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" />
            <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopCenter" />
        </div>
    </Navigating> *@
</Router>
