@inherits LayoutComponentBase

<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        @* <ThemeSwitcher /> *@
    </HeaderSection>

    <SidebarSection>
        <Sidebar2 Href="/"
                  ImageSrc="_content/MedicalApp.Shared/favicon.png"
                  Title="Medical Application"
                  DataProvider="Sidebar2DataProvider"
                  WidthUnit="Unit.Px" />
    </SidebarSection>

    <ContentSection>
        <div style="min-height: calc(100vh - 178px);">
            @Body
        </div>
    </ContentSection>

    <FooterSection>
        @* Other Content Here *@
    </FooterSection>
</BlazorBootstrapLayout>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopCenter" />
<Preload LoadingText="Loading..." />

@code {
    private IEnumerable<NavItem> navItems = default!;

    private async Task<Sidebar2DataProviderResult> Sidebar2DataProvider(Sidebar2DataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "3", Href = "/clinics", IconName = IconName.Table, Text = "Clinics"},
        };

        return navItems;
    }
}